.conteinerCadas{
    width: 100%;
height: 100%;
display: grid;
padding: 2rem 6.254rem;
grid-template-columns: auto auto auto auto;
grid-template-rows: auto auto auto auto;
column-gap: 3rem;
}
.headerCadastro{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-end: 1;
    justify-self: center;
    margin-bottom: 6rem;
    margin-top: 6rem;
}
#cadastroTitle{
    font-family: 'Inversionz';
    letter-spacing: -1.1rem;
}
.forms{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
    justify-self: end;
    display: flex;
    flex-direction: column;
}

#buttonsCadas{
    display: flex;
    flex-direction: column;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 2rem;
    grid-row-end: 2;
}
#connectionBCadastro{
    font-size: 1.8rem;
    margin-top: 1.6rem;
}
.changes{
    margin-top: 2rem;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
    align-self: center;
}
#cadastrobutton{
    margin-bottom: 2rem;
}
