.conteinerEscolha{
    width: 100%;
    height: 100%;
    display: grid;
    padding: 2rem 6.254rem;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-rows: auto auto auto auto auto;
    column-gap: 3rem;
}
.card{
   background-color: blue;
}
.svg-path {
    fill: white;
    transition: fill 0.3s ease; /* Adiciona uma transição suave */
}

.svg-container:hover .svg-path {
    fill: yellow;
}