.conteinerEscolha{
    width: 100%;
    height: 100%;
    display: grid;
    padding: 2rem 6.254rem;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto  auto auto auto;
    column-gap: 3rem;
    row-gap: 1.6rem;
}
#EscolhaTitleArea{
    justify-self: center;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}
.buttonsArea{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
.buttonsArea{

}
.card{
   background-color: blue;
}
.svg-path {
    fill: white;
    transition: fill 0.3s ease; /* Adiciona uma transição suave */
}

.svg-container:hover .svg-path {
    fill: yellow;
}