.conteinerHome{
   display: block;
   width: 100%;
   height: 100%;
}
a:hover{
   text-decoration: none;
}
.bgHome{
   width: 100%;
  height: 65rem;
}
.carousel-inner  img{
   object-fit: cover; /* Altura fixa */ /* 50% da altura da viewport */
}

.botao{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 23rem;
   height: 4.3rem;
   border: 5px solid #FFE44B;
   color: #FFE44B;
   border-radius: 15px;
   background: rgba(255, 228, 75, 0.10);
  
}
.botao:hover{
   background-color: #f0d54e;
   color: aliceblue;
   transition: 1s;
}
#textbotao{
   font-family: "Roboto Mono";
   text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.carousel-caption h5{
   font-family: 'Inversionz Unboxed';
   font-size: 4rem;
}
.carousel-caption p{
   font-size: 1.8rem;
   font-family: "Roboto Mono";
}
#home2{
   margin-top: 2rem;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.title{
   font-family: 'Inversionz';
   font-size: 9rem;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #FFE44B;
   letter-spacing: -0.9rem;
}
.subtitle{
   font-family: "Roboto Flex";
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2.2rem;
}
#infoHome{
   margin: 5rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 5rem;
}
.liHome{
   width: 36.5rem;
   font-size: 2.4rem;
   font-family: "Roboto Flex";
   font-style: normal;
   font-weight: 500;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
}

.iconHome{
   width: 5.5rem;
   margin-right: 1.4rem;
}
#botaoComeça{
   display: flex;
   align-items: center;
   justify-content: center;
}
#home3{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 1rem;
   border: 0.6rem solid #03151A;
   background-color: #03151A;
   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;
}
#proxTitle{
   color: #FFE44B;
   font-family: "Roboto Mono";
   font-size: 3.5rem;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 1.5rem;
   margin-top: 1.5rem;
}
.CardStyle{
   display: flex;
   flex-direction: row; 
}
.game-card{
   box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.55);
   background: rgba(255, 255, 255, 0.04);
   width: 30rem;
   padding: 2rem;
   margin: 2rem;
   border-radius: 2rem;
}
.game-card:hover{
   transition: 1s;
   
   background: rgba(12, 12, 12, 0.58);
}
.game-card a{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.game-card h2{
   text-align: center;
   margin-bottom: 2rem;
   height: 4.8rem;
   color: #e2d955;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-family: "Roboto Mono";
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
}
.buttonareal{
   display: flex;
   align-items: center;
   justify-content: center;
}
.arrowHome{
   width: 2rem;
   height: 2rem;
}
#buttonLeft{
   transform: rotate(180deg)
}


img{
   width: 200px;
 
}
