#navbar{
    display: flex;
    background-color: #03161B;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 5.5rem;
    padding: 0 2rem;
}
p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0m;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
#logo_container{
    display: flex;
    height: 100%;
    align-items: center;

    color: #FFE44B;
}
#imagemLogo{
    width: 7.7rem;
    height: 3.7rem;
}
#logoText{
    font-size: 3rem;
    margin-left: 1.8rem;
    margin-top: 0.9rem;
    font-family: 'Inversionz';
}
#links_container{
    display: flex;
    font-size: 1.65rem;
    flex-direction: row;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
}

#links_container a {
    color: #FFE44B; 
    font-weight: 300;
    margin: 1.7rem;
}
#links_container a:hover {
    color: white;
    font-size: 1.8rem;
}
#submit_container{
    height: 100%;
    width: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#form {
    display: flex;
    position: relative;
    width: 14.3rem;
    height: 2.8rem;
    background-color: aliceblue;
    align-items: center;
    border-radius: 8px;
    border: none;
    margin-right: 1.2rem;
    outline: none;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 
#Search{
    width: 100%;
    height: 2.5rem;
    border-radius: 20px;
    border: none;    
    padding: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
}



#button_search{

    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    color: #000;
    padding: 0.22rem;
    cursor: pointer;
    border: none;
    align-items: center;
    font-size: 2.5rem;

}
#icon{
    margin-bottom: 1.8rem;
}
#userIcon{
    width: 3.75rem;
    height: 3.75rem;
}